@import 'variables'
@import 'mixins'

// reset & base

body
  font-family $font1, sans-serif
  font-weight bold
  font-size 62.5%
  min-width 56.25vh // w:h=9:16

html, body
  margin 0
  padding 0

p
  margin 0

ul
  margin 0
  padding 0
  list-style-type none

address
  display inline
  font-style normal

a
  text-decoration: none

  &:focus, &:hover, &:active
    text-decoration underline

// other

.root-header
  text-align center

.title
  light-color()

  font-size 8vh
  height 96vh
  line-height 96vh
  margin 0

  a
    light-color()

.about
  dark-color()

  font-size 6vh
  height 96vh
  position relative
  text-align center

.about-button
  dark-button()

  &:focus, &:hover, &:active
    text-decoration none

  .icon
    border-radius 0
    vertical-align middle

.blog
  light-color()

  font-size 5vh
  height 48vh
  position relative
  text-align center

.blog-button
  light-button()

.mail
  dark-color()

  font-size 5vh
  height 48vh
  position relative
  text-align center

.mail-button
  dark-button()

.social
  font-size 6vh
  height 48vh
  position relative
  text-align center

  &:nth-child(odd)
    light-color()

  &:nth-child(even)
    dark-color()

.twitter-button
  light-button()

.github-button
  dark-button()

.hatena-button
  light-button()

.fa-hatena:before
  content "\f128"

.root-footer
  dark-color()

  font-size 6vh
  text-align center
  height 96vh
  line-height 96vh

.copyright-name
  dark-color()

  display inline-block

  &:focus, &:hover, &:active
    dark-color()
