@import 'variables'
@import 'mixins'

// reset & base

body
  font-family $font1, sans-serif
  font-weight bold
  font-size 62.5%
  min-width 56.25vh // w:h=9:16
  background-color $color1

html, body
  margin 0
  padding 0

p
  margin 0

ul
  margin 0
  padding 0
  list-style-type none

address
  display inline
  font-style normal

a
  text-decoration none
  -webkit-tap-highlight-color transparent

  &:focus
    outline none

// other

.root-header,
.root-footer
  text-align center

.title,
.copyright
  height 96vh
  line-height 96vh
  margin 0

  a
    display inline-block
    line-height 1

    &::after
      content ""
      display block
      height 0.5vh
      margin auto
      width 0
      transition width 0.3s

    &:focus, &:hover, &:active
      &::after
        width 100%

.title
  light-color()

  font-size 8vh

  a
    light-color()

    &::after
      dark-color()

.copyright
  light-color()

  font-size 6vh

  a
    light-color()

    &::after
      dark-color()

.about
  dark-color()

  font-size 6vh
  height 96vh
  position relative
  text-align center

.about-button
  dark-button()

  &:focus, &:hover, &:active
    text-decoration none

  .icon
    border-radius 0
    vertical-align middle

.blog,
.mail
  font-size 5vh
  height 48vh
  position relative
  text-align center

.blog
  light-color()

.blog-button
  light-button()

.mail
  dark-color()

.mail-button
  dark-button()

.social
  font-size 6vh
  height 48vh
  position relative
  text-align center

  &:nth-child(odd)
    light-color()

  &:nth-child(even)
    dark-color()

.github-button
  light-button()

.hatena-button
  dark-button()

.npm-button
  light-button()

.google-play-button
  dark-button()

.fa-hatena:before
  content "\f128"

.copyright-name
  light-color()

  display inline

  &:focus, &:hover, &:active
    light-color()
