@import 'variables'
@import 'mixins'

// reset & base

:root
  font-size 16px

body
  font-family $font1, sans-serif
  font-weight bold
  font-size 2rem

html, body
  margin 0
  padding 0

p
  margin 0

ul
  margin 0
  padding 0
  list-style-type: none

address
  display inline
  font-style: normal

a
  text-decoration: none

  &:focus, &:hover, &:active
    text-decoration: underline

// other

.root-header
  text-align center

.title
  light-color()

  font-size 48px
  height 90vh
  line-height 90vh
  margin 0

  a
    light-color()

.about
  dark-color()

  height 90vh
  position relative
  text-align center

.about-button
  dark-button()

  &:focus, &:hover, &:active
    text-decoration: none

  .icon
    border-radius 0
    font-family $font2
    font-weight normal
    font-style: normal
    vertical-align middle

.blog
  light-color()

  height 96vh
  position relative
  text-align center

.blog-button
  light-button()

.mail
  dark-color()

  height 96vh
  position relative
  text-align center

.mail-button
  dark-button()

.socials
  light-color()

  height 96vh
  text-align center

  @media screen and (max-width: 960px)
    height 96 * 3vh

  &:after
    content " "
    clear: both

.social
  float: left
  width 33.3%
  display block
  height 96vh
  position relative

  @media screen and (max-width: 960px)
    width 100%

.twitter-button
  light-button()

.github-button
  light-button()

.hatena-button
  light-button()

.fa-hatena:before
  content "\f128"

.root-footer
  dark-color()
  text-align center
  height 90vh
  line-height 90vh

.copyright-name
  dark-color()

  display inline-block

  &:focus, &:hover, &:active
    dark-color()
