// #4e6a41
// rgb(78, 106, 65)
// hsl(101, 24%, 34%)
$bouzuya-green = rgb(78, 106, 65)
$bouzuya-white = rgb(244, 247, 242)

$color1 =  $bouzuya-white
$color2 =  hsl(101, 24%, 64%)
$color3 =  hsl(101, 24%, 40%)
$color4 =  $bouzuya-green

$font1 =  'Open Sans'
$font2 =  'Fredoka One'

$default-color =                       $color4
$default-background-color =            $color4
$default-a-color =                     $color4
$default-a-text-shadow-color =         $color4
$default-a-hover-color =               $color1
$default-a-hover-text-shadow-color =   $color3
$default-a-strong-color =              $color1
$default-a-strong-text-shadow-color =  $color3
$header-color =                        $color1
$header-text-shadow-color =            $color3
$footer-color =                        $color1
$footer-text-shadow-color =            $color3
$accesskey-color =                     $color2
