.fa-hatena:before {
  content: "\f128";
}
.accesskey {
  font-style: normal;
}
.container-fluid .row {
  margin: 0;
  max-width: 100%;
}
body {
  color: #4f6c42;
  background-color: #eef3ec;
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 32px;
}
body a {
  color: #4f6c42;
  background-color: #eef3ec;
}
body a:hover {
  color: #eef3ec;
  background-color: #4f6c42;
  text-decoration: none;
}
body a:hover i {
  color: #4f6c42;
  background-color: transparent;
}
.container-fluid {
  padding: 0;
  text-align: center;
}
.container-fluid ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.container-fluid ul li h1 {
  margin: 0;
}
.container-fluid h1 {
  font-weight: bold;
}
body > header {
  padding: 0;
  text-align: center;
}
body > header ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body > header ul li h1 {
  margin: 0;
}
body > header h1 {
  font-weight: bold;
}
body > section {
  padding: 0;
  text-align: center;
}
body > section ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body > section ul li h1 {
  margin: 0;
}
body > section h1 {
  font-weight: bold;
}
body > footer {
  padding: 0;
  text-align: center;
  color: #eef3ec;
  background-color: #4f6c42;
  padding: 160px 0;
}
body > footer ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
body > footer ul li h1 {
  margin: 0;
}
body > footer h1 {
  font-weight: bold;
}
body > footer a {
  color: #eef3ec;
  background-color: #4f6c42;
}
body > footer a:hover {
  color: #4f6c42;
  background-color: #eef3ec;
}
body > footer a:hover address {
  display: inline;
  color: #4f6c42;
  background-color: #eef3ec;
}
body > footer a:hover i {
  color: #eef3ec;
  background-color: transparent;
}
.title {
  color: #4f6c42;
  background-color: #eef3ec;
  font-size: 64px;
  padding: 160px 0;
}
.title a {
  color: #4f6c42;
  background-color: #eef3ec;
}
.title a:hover {
  color: #eef3ec;
  background-color: #4f6c42;
  text-decoration: none;
}
.title a:hover i {
  color: #4f6c42;
  background-color: transparent;
}
.title a:hover {
  color: #4f6c42;
  background-color: #eef3ec;
  text-decoration: underline;
}
.title a:hover a {
  color: #4f6c42;
  background-color: #eef3ec;
}
.title a:hover a:hover {
  color: #eef3ec;
  background-color: #4f6c42;
  text-decoration: none;
}
.title a:hover a:hover i {
  color: #4f6c42;
  background-color: transparent;
}
.face {
  color: #eef3ec;
  background-color: #4f6c42;
  padding: 160px 0;
  font-family: 'Fredoka One';
  font-size: 64px;
  font-weight: normal;
  margin: 0;
  text-align: center;
}
.face a {
  color: #eef3ec;
  background-color: #4f6c42;
}
.face a:hover {
  color: #4f6c42;
  background-color: #eef3ec;
}
.face a:hover address {
  display: inline;
  color: #4f6c42;
  background-color: #eef3ec;
}
.face a:hover i {
  color: #eef3ec;
  background-color: transparent;
}
.face a {
  padding: 32px;
  border-radius: 512px;
}
.blog {
  color: #4f6c42;
  background-color: #eef3ec;
  padding: 160px 0;
  font-size: 32px;
}
.blog a {
  color: #4f6c42;
  background-color: #eef3ec;
}
.blog a:hover {
  color: #eef3ec;
  background-color: #4f6c42;
  text-decoration: none;
}
.blog a:hover i {
  color: #4f6c42;
  background-color: transparent;
}
.blog .icon {
  font-size: 48px;
  display: block;
}
.mail {
  color: #eef3ec;
  background-color: #4f6c42;
  padding: 160px 0;
  font-size: 32px;
}
.mail a {
  color: #eef3ec;
  background-color: #4f6c42;
}
.mail a:hover {
  color: #4f6c42;
  background-color: #eef3ec;
}
.mail a:hover address {
  display: inline;
  color: #4f6c42;
  background-color: #eef3ec;
}
.mail a:hover i {
  color: #eef3ec;
  background-color: transparent;
}
.mail .icon {
  font-size: 48px;
  display: block;
}
.socials {
  color: #4f6c42;
  background-color: #eef3ec;
  padding: 160px 0;
}
.socials a {
  color: #4f6c42;
  background-color: #eef3ec;
}
.socials a:hover {
  color: #eef3ec;
  background-color: #4f6c42;
  text-decoration: none;
}
.socials a:hover i {
  color: #4f6c42;
  background-color: transparent;
}
.socials .icon {
  font-size: 96px;
  display: block;
}
