body {
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 62.5%;
  min-width: 56.25vh;
  background-color: #f4f7f2;
}
html,
body {
  margin: 0;
  padding: 0;
}
p {
  margin: 0;
}
ul {
  margin: 0;
  padding: 0;
  list-style-type: none;
}
address {
  display: inline;
  font-style: normal;
}
a {
  text-decoration: none;
}
.root-header,
.root-footer {
  text-align: center;
}
.title,
.copyright {
  height: 96vh;
  line-height: 96vh;
  margin: 0;
}
.title a::after,
.copyright a::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 0.5vh;
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}
.title a:focus::after,
.copyright a:focus::after,
.title a:hover::after,
.copyright a:hover::after,
.title a:active::after,
.copyright a:active::after {
  transform: scaleX(1);
}
.title {
  color: #4e6a41;
  background-color: #f4f7f2;
  font-size: 8vh;
}
.title a {
  color: #4e6a41;
  background-color: #f4f7f2;
  position: relative;
}
.title a::after {
  color: #f4f7f2;
  background-color: #4e6a41;
}
.copyright {
  color: #f4f7f2;
  background-color: #4e6a41;
  font-size: 6vh;
}
.copyright a {
  color: #f4f7f2;
  background-color: #4e6a41;
  position: relative;
}
.copyright a::after {
  color: #4e6a41;
  background-color: #f4f7f2;
}
.about {
  color: #f4f7f2;
  background-color: #4e6a41;
  font-size: 6vh;
  height: 96vh;
  position: relative;
  text-align: center;
}
.about-button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 64vh;
  height: 32vh;
  overflow: hidden;
  color: #f4f7f2;
  background-color: #4e6a41;
}
.about-button .icon {
  display: block;
  position: relative;
  margin: auto;
  width: 24vh;
  height: 24vh;
  line-height: 24vh;
  font-size: 12vh;
  border-radius: 50%;
  overflow: hidden;
  transition: color 0.3s, background-color 0.3s;
}
.about-button .icon:focus,
.about-button .icon:hover,
.about-button .icon:active {
  text-decoration: none;
}
.about-button .icon:before {
  display: inline;
  vertical-align: top;
  line-height: 24vh;
}
.about-button .label {
  font-family: 'Open Sans', sans-serif;
  display: block;
  position: absolute;
  top: 75%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 25%;
  line-height: 8vh;
}
.about-button .label .text {
  position: relative;
}
.about-button .label .text::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 0.5vh;
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}
.about-button:focus .label .text::after,
.about-button:hover .label .text::after,
.about-button:active .label .text::after {
  transform: scaleX(1);
}
.about-button .icon {
  color: #f4f7f2;
  background-color: #4e6a41;
}
.about-button .label {
  color: #f4f7f2;
  background-color: #4e6a41;
}
.about-button .label .text::after {
  color: #4e6a41;
  background-color: #f4f7f2;
}
.about-button:focus .icon,
.about-button:hover .icon,
.about-button:active .icon {
  color: #4e6a41;
  background-color: #f4f7f2;
}
.about-button:focus,
.about-button:hover,
.about-button:active {
  text-decoration: none;
}
.about-button .icon {
  border-radius: 0;
  vertical-align: middle;
}
.blog,
.mail {
  font-size: 5vh;
  height: 48vh;
  position: relative;
  text-align: center;
}
.blog {
  color: #4e6a41;
  background-color: #f4f7f2;
}
.blog-button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 64vh;
  height: 32vh;
  overflow: hidden;
  color: #4e6a41;
  background-color: #f4f7f2;
}
.blog-button .icon {
  display: block;
  position: relative;
  margin: auto;
  width: 24vh;
  height: 24vh;
  line-height: 24vh;
  font-size: 12vh;
  border-radius: 50%;
  overflow: hidden;
  transition: color 0.3s, background-color 0.3s;
}
.blog-button .icon:focus,
.blog-button .icon:hover,
.blog-button .icon:active {
  text-decoration: none;
}
.blog-button .icon:before {
  display: inline;
  vertical-align: top;
  line-height: 24vh;
}
.blog-button .label {
  font-family: 'Open Sans', sans-serif;
  display: block;
  position: absolute;
  top: 75%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 25%;
  line-height: 8vh;
}
.blog-button .label .text {
  position: relative;
}
.blog-button .label .text::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 0.5vh;
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}
.blog-button:focus .label .text::after,
.blog-button:hover .label .text::after,
.blog-button:active .label .text::after {
  transform: scaleX(1);
}
.blog-button:focus .icon,
.blog-button:hover .icon,
.blog-button:active .icon {
  color: #f4f7f2;
  background-color: #4e6a41;
}
.blog-button:focus .text::after,
.blog-button:hover .text::after,
.blog-button:active .text::after {
  color: #f4f7f2;
  background-color: #4e6a41;
}
.blog-button .icon {
  color: #4e6a41;
  background-color: #f4f7f2;
}
.blog-button .label {
  color: #4e6a41;
  background-color: #f4f7f2;
}
.blog-button .label .text::after {
  color: #f4f7f2;
  background-color: #4e6a41;
}
.mail {
  color: #f4f7f2;
  background-color: #4e6a41;
}
.mail-button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 64vh;
  height: 32vh;
  overflow: hidden;
  color: #f4f7f2;
  background-color: #4e6a41;
}
.mail-button .icon {
  display: block;
  position: relative;
  margin: auto;
  width: 24vh;
  height: 24vh;
  line-height: 24vh;
  font-size: 12vh;
  border-radius: 50%;
  overflow: hidden;
  transition: color 0.3s, background-color 0.3s;
}
.mail-button .icon:focus,
.mail-button .icon:hover,
.mail-button .icon:active {
  text-decoration: none;
}
.mail-button .icon:before {
  display: inline;
  vertical-align: top;
  line-height: 24vh;
}
.mail-button .label {
  font-family: 'Open Sans', sans-serif;
  display: block;
  position: absolute;
  top: 75%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 25%;
  line-height: 8vh;
}
.mail-button .label .text {
  position: relative;
}
.mail-button .label .text::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 0.5vh;
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}
.mail-button:focus .label .text::after,
.mail-button:hover .label .text::after,
.mail-button:active .label .text::after {
  transform: scaleX(1);
}
.mail-button .icon {
  color: #f4f7f2;
  background-color: #4e6a41;
}
.mail-button .label {
  color: #f4f7f2;
  background-color: #4e6a41;
}
.mail-button .label .text::after {
  color: #4e6a41;
  background-color: #f4f7f2;
}
.mail-button:focus .icon,
.mail-button:hover .icon,
.mail-button:active .icon {
  color: #4e6a41;
  background-color: #f4f7f2;
}
.social {
  font-size: 6vh;
  height: 48vh;
  position: relative;
  text-align: center;
}
.social:nth-child(odd) {
  color: #4e6a41;
  background-color: #f4f7f2;
}
.social:nth-child(even) {
  color: #f4f7f2;
  background-color: #4e6a41;
}
.twitter-button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 64vh;
  height: 32vh;
  overflow: hidden;
  color: #4e6a41;
  background-color: #f4f7f2;
}
.twitter-button .icon {
  display: block;
  position: relative;
  margin: auto;
  width: 24vh;
  height: 24vh;
  line-height: 24vh;
  font-size: 12vh;
  border-radius: 50%;
  overflow: hidden;
  transition: color 0.3s, background-color 0.3s;
}
.twitter-button .icon:focus,
.twitter-button .icon:hover,
.twitter-button .icon:active {
  text-decoration: none;
}
.twitter-button .icon:before {
  display: inline;
  vertical-align: top;
  line-height: 24vh;
}
.twitter-button .label {
  font-family: 'Open Sans', sans-serif;
  display: block;
  position: absolute;
  top: 75%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 25%;
  line-height: 8vh;
}
.twitter-button .label .text {
  position: relative;
}
.twitter-button .label .text::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 0.5vh;
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}
.twitter-button:focus .label .text::after,
.twitter-button:hover .label .text::after,
.twitter-button:active .label .text::after {
  transform: scaleX(1);
}
.twitter-button:focus .icon,
.twitter-button:hover .icon,
.twitter-button:active .icon {
  color: #f4f7f2;
  background-color: #4e6a41;
}
.twitter-button:focus .text::after,
.twitter-button:hover .text::after,
.twitter-button:active .text::after {
  color: #f4f7f2;
  background-color: #4e6a41;
}
.twitter-button .icon {
  color: #4e6a41;
  background-color: #f4f7f2;
}
.twitter-button .label {
  color: #4e6a41;
  background-color: #f4f7f2;
}
.twitter-button .label .text::after {
  color: #f4f7f2;
  background-color: #4e6a41;
}
.github-button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 64vh;
  height: 32vh;
  overflow: hidden;
  color: #f4f7f2;
  background-color: #4e6a41;
}
.github-button .icon {
  display: block;
  position: relative;
  margin: auto;
  width: 24vh;
  height: 24vh;
  line-height: 24vh;
  font-size: 12vh;
  border-radius: 50%;
  overflow: hidden;
  transition: color 0.3s, background-color 0.3s;
}
.github-button .icon:focus,
.github-button .icon:hover,
.github-button .icon:active {
  text-decoration: none;
}
.github-button .icon:before {
  display: inline;
  vertical-align: top;
  line-height: 24vh;
}
.github-button .label {
  font-family: 'Open Sans', sans-serif;
  display: block;
  position: absolute;
  top: 75%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 25%;
  line-height: 8vh;
}
.github-button .label .text {
  position: relative;
}
.github-button .label .text::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 0.5vh;
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}
.github-button:focus .label .text::after,
.github-button:hover .label .text::after,
.github-button:active .label .text::after {
  transform: scaleX(1);
}
.github-button .icon {
  color: #f4f7f2;
  background-color: #4e6a41;
}
.github-button .label {
  color: #f4f7f2;
  background-color: #4e6a41;
}
.github-button .label .text::after {
  color: #4e6a41;
  background-color: #f4f7f2;
}
.github-button:focus .icon,
.github-button:hover .icon,
.github-button:active .icon {
  color: #4e6a41;
  background-color: #f4f7f2;
}
.hatena-button {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  max-width: 100%;
  width: 64vh;
  height: 32vh;
  overflow: hidden;
  color: #4e6a41;
  background-color: #f4f7f2;
}
.hatena-button .icon {
  display: block;
  position: relative;
  margin: auto;
  width: 24vh;
  height: 24vh;
  line-height: 24vh;
  font-size: 12vh;
  border-radius: 50%;
  overflow: hidden;
  transition: color 0.3s, background-color 0.3s;
}
.hatena-button .icon:focus,
.hatena-button .icon:hover,
.hatena-button .icon:active {
  text-decoration: none;
}
.hatena-button .icon:before {
  display: inline;
  vertical-align: top;
  line-height: 24vh;
}
.hatena-button .label {
  font-family: 'Open Sans', sans-serif;
  display: block;
  position: absolute;
  top: 75%;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  width: 100%;
  height: 25%;
  line-height: 8vh;
}
.hatena-button .label .text {
  position: relative;
}
.hatena-button .label .text::after {
  position: absolute;
  content: "";
  display: block;
  width: 100%;
  height: 0.5vh;
  transform: scaleX(0);
  bottom: 0;
  left: 0;
  transition: all 0.3s;
}
.hatena-button:focus .label .text::after,
.hatena-button:hover .label .text::after,
.hatena-button:active .label .text::after {
  transform: scaleX(1);
}
.hatena-button:focus .icon,
.hatena-button:hover .icon,
.hatena-button:active .icon {
  color: #f4f7f2;
  background-color: #4e6a41;
}
.hatena-button:focus .text::after,
.hatena-button:hover .text::after,
.hatena-button:active .text::after {
  color: #f4f7f2;
  background-color: #4e6a41;
}
.hatena-button .icon {
  color: #4e6a41;
  background-color: #f4f7f2;
}
.hatena-button .label {
  color: #4e6a41;
  background-color: #f4f7f2;
}
.hatena-button .label .text::after {
  color: #f4f7f2;
  background-color: #4e6a41;
}
.fa-hatena:before {
  content: "\f128";
}
.copyright-name {
  color: #f4f7f2;
  background-color: #4e6a41;
  display: inline;
}
.copyright-name:focus,
.copyright-name:hover,
.copyright-name:active {
  color: #f4f7f2;
  background-color: #4e6a41;
}
