// #4e6a41
// rgb(78, 106, 65)
// hsl(101, 24%, 34%)
@bouzuya-green: hsl(101, 24%, 34%);

@color1: hsl(101, 24%, 94%);
@color2: hsl(101, 24%, 64%);
@color3: hsl(101, 24%, 40%);
@color4: @bouzuya-green;

@default-color:                      @color4;
@default-background-color:           @color4;
@default-a-color:                    @color4;
@default-a-text-shadow-color:        @color4;
@default-a-hover-color:              @color1;
@default-a-hover-text-shadow-color:  @color3;
@default-a-strong-color:             @color1;
@default-a-strong-text-shadow-color: @color3;
@header-color:                       @color1;
@header-text-shadow-color:           @color3;
@footer-color:                       @color1;
@footer-text-shadow-color:           @color3;
@accesskey-color:                    @color2;

.light-color() {
  color: @color4;
  background-color: @color1;

  a {
    color: @color4;
    background-color: @color1;

    &:hover {
      color: @color1;
      background-color: @color4;
      text-decoration: none;

      i {
        color: @color4;
        background-color: transparent;
      }
    }
  }
}

.dark-color() {
  color: @color1;
  background-color: @color4;

  a {
    color: @color1;
    background-color: @color4;

    &:hover {
      color: @color4;
      background-color: @color1;

      address {
        display: inline;
        color: @color4;
        background-color: @color1;
      }

      i {
        color: @color1;
        background-color: transparent;
      }
    }
  }
}

.fa-hatena:before {
  content: "\f128";
}

.accesskey {
  font-style: normal;
}

.container-fluid .row {
  margin: 0;
  max-width: 100%;
}

body {
  .light-color();
  font-family: 'Open Sans', sans-serif;
  font-weight: bold;
  font-size: 32px;
}

.container-fluid {
  padding: 0;
  text-align: center;

  ul {
    margin: 0;
    padding: 0;
    list-style-type: none;

    li h1 {
      margin: 0;
    }
  }

  h1 {
    font-weight: bold;
  }
}

body {

  > header {
    .container-fluid;
  }

  > section {
    .container-fluid;
  }

  > footer {
    .container-fluid;
    .dark-color();
    padding: 160px 0;
  }
}

.title {
  .light-color();
  font-size: 64px;
  padding: 160px 0;

  a:hover {
    .light-color();
    text-decoration: underline;
  }
}

.face {
  .dark-color();
  padding: 160px 0;
  font-family: 'Fredoka One';
  font-size: 64px;
  font-weight: normal;
  margin: 0;
  text-align: center;

  a {
    padding: 32px;
    border-radius: 512px;
  }
}

.blog {
  .light-color();
  padding: 160px 0;
  font-size: 32px;

  .icon {
    font-size: 48px;
    display: block;
  }
}

.mail {
  .dark-color();
  padding: 160px 0;
  font-size: 32px;

  .icon {
    font-size: 48px;
    display: block;
  }
}

.socials {
  .light-color();
  padding: 160px 0;

  .icon {
    font-size: 96px;
    display: block;
  }
}
